
    
/*#cabecera{
* {outline:  1px solid red;}
    position: fixed;
    width: 1000px;
    height: 300px;
    top: 0%;
    left: 22%;
    background-color: powderblue;
}

#id{
    text-align: center;
}*/
h2{
    background-color: antiquewhite;
}
img{
    margin-right: 16px;
}

.imagenes{
    margin-right: 0px;
    margin-bottom: 0px;
}
.nombre{
    margin-left: 2px;
}

.nuria{
    margin: 0px auto;
}

hr{
    background-color: antiquewhite;
    border: 0px;
    padding: 1px;
}

header,section{
    width: 960px;
    margin: 0 auto;
    
    background-color: powderblue;
}

progress{
   margin-left: 8px; 
}

header{
    display: flex;
    background-color: antiquewhite;
}

section{
    display: flex;
}

article{
    width: 50%;
}

aside{
    width: 50%;
}

#divCabecera{
    margin: 20px 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#experiencia{
    list-style-type: circle;
}

.skills{
    display: flex;
    margin-left: 4px;
}


