
* {outline:  1px solid red;}
/*#cabecera{
    position: fixed;
    width: 1000px;
    height: 300px;
    top: 0%;
    left: 22%;
    background-color: powderblue;
}

#id{
    text-align: center;
}*/
body{
    
}

img{
    margin-right: 16px;
}
header,section{
    width: 960px;
    margin: 0 auto;
    
    background-color: powderblue;
}

header{
    display: flex;
}

section{
    display: flex;
}

article{
    width: 50%;
}

aside{
    width: 50%;
}

#divCabecera{
    margin: 20px 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#experiencia{
    list-style-type: circle;
}

